<div class="bg-dark">
  <nav class="navbar navbar-dark navbar-expand-md text-primary border-bottom border-lines mb-0 p-0">
    <div class="py-2 px-4 border-end border-lines" style="cursor: pointer">
      _rohithrajb
    </div>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="text-white navbar-toggler"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-inline-block" style="list-style-type: none">
        <li class="nav-item d-inline-block py-2 px-4 border-end border-lines">
          <a href="#" class="nav-link">_hello</a>
        </li>
        <li class="nav-item d-inline-block py-2 px-4 border-end border-lines">
          <a href="#" class="nav-link">_about-me</a>
        </li>
        <li class="nav-item d-inline-block py-2 px-4 border-end border-lines">
          <a href="#" class="nav-link">_projects</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="list-style-type: none; margin-left: auto">
        <li class="nav-item py-2 px-4 border-start border-lines">
          <a href="#" class="nav-link">_contact-me</a>
        </li>
      </ul>
    </div>
    <!--    header items collapsed-->
    <div class="navbar-menuBtn">

    </div>
  </nav>

</div>

